@import url(http://localhost/test/css/dashboardsidenav.css);
@import url(http://localhost/test/css/dashboardnav.css);
@import url(./dashboardcontents.css);
body{
    overflow: hidden;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.side_content_container{
    display: flex;
}

