.dashboard_sidenav{
    background-color: white;
    height: 100vh;
    width: 10vw;
    padding: 2px 2px;
    position: relative;
    border-right: 3px solid whitesmoke;
}
.dashboard_sidenav_linkContainers{
    height: 27vh;
    width: 95%;
    margin: 0 7px;
    border-radius: 4px;
    padding: 6px 10px;
}
.dashboard_sidenav_links{
    height: 25%;
    width: 100%;
   position: relative;
   transition: all .1s ease-in-out;
}
.dashboard_sidenav_links:hover a{
    color: gray;
    
}
.dashboard_sidenav_links a{
    position: absolute;
bottom: 0;    
    text-decoration: none;
    color: rgb(163, 159, 159);
    font-weight: 400;
    font-size: .9vw;
}
.dashboard_sidenav_links i{
    padding-right:8px;

}